@import "../../colors.scss";
@import "../../mixins.scss";

.landing {
  &__header {
    @include header-bg(376px);
    background-image: url("../../public/images/header-bridge.png");

    .ui .header {
      //background-color: rgba(10,25,54,0.60);
      padding-top: 35px;
      font-size: 3.1rem;
      color: $color-white;
    }
  }

  &__section-1 {
    background-image: url("../../public/images/bridge.png");
    background-position: top center;
    min-height: 452px;
    //padding-top: 35px;
    text-align: center;

    .ui .header {
      font-size: 1.65rem;
      margin-bottom: 7px;
    }
  }
  

  &__network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    margin: 0 auto;

    div {
      background-color: #a26da7;
      color: $color-dark;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 35px;
    }

    .ui.button {
      background-color: #a9c6ed;
      color: $color-dark;
      min-width: 160px;
      font-weight: normal;
    }
  }

  &__form {
    background-color: #a9c6ed;
    color: $color-dark;
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
    margin: 25px auto 0;
    padding: 15px 25px;
    width: 420px;
    height: 270px;
    text-align: left;

    .ui.button {
      background-color: $color-yellow;
      font-size: 1.2rem;
      margin-top: 10px;
      min-height: 40px;
      padding: 0 !important;
    }

    p {
      padding: 20px 0;
    }
  }

  &__section-2 {
    @include header-bg(376px);
    background-image: url("../../public/images/header-nft.png");
    background-position: top center;
    //min-height: 452px;
    //background: #1f2b64;
    padding: 25px 0;
    //flex-grow: 1;

    .ui .header {
      color: $color-link-orange;
      font-size: 1.4rem;
    }

    a {
      font-size: 1rem;
      text-decoration: underline;
    }

    a,
    a:hover {
      color: #bfdef9;
    }

    img {
      margin-right: 16px;
    }
  }

  &__section-3 {
    @include header-bg(376px);
    background-image: url("../../public/images/header-team.png");
    background-position: top center;
    //min-height: 452px;
    //background: #1f2b64;
    padding: 25px 0;
    //flex-grow: 1;

    .ui .header {
      color: $color-link-orange;
      font-size: 1.4rem;
    }

    a {
      font-size: 1rem;
      text-decoration: underline;
    }

    a,
    a:hover {
      color: #bfdef9;
    }

    img {
      margin-right: 16px;
    }
  }

  // MOBILE

  &__header-mobile {
    background-position: center;

    .ui .header {
      font-size: 1.7rem;
      padding-top: 40px;
    }
  }

  &__section-1-mobile {
    padding-top: 10px;
    min-height: 420px;

    .ui .header {
      font-size: 1.9rem;
      padding-bottom: unset;
    }

    .landing__network {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0 !important;

      .ui.button {
        width: 100%;
        margin-bottom: 8px;
        padding: 10px;
      }
    }

    .landing__form {
      width: unset;
      margin: 20px -1.2rem 18px;
      height: unset;
      padding-bottom: 5px;
    }
  }

  &__section-2-mobile {
    padding-top: 15px;
    padding-bottom: 40px;

    .ui .header {
      font-size: 1.2rem;
      text-align: center;
      padding-bottom: 0px;
    }

    img {
      margin: 0 auto;
    }

    p {
      display: flex;
      flex-direction: column;
      margin: 35px 0;
    }

    a {
      font-size: 0.8rem;
      line-height: 1.2;
      padding-top: 12px;
    }
  }
}
