@import "../../../../colors.scss";

.referral-link__wrapper {
  position: relative;
}

.referral-link {
  position: absolute;
  margin-top: 0px;
  right: 0;

  &__form {
    display: flex;
    align-items: center;
  }

  label {
    display: block;
    font-size: 1.05rem;
    padding-left: 16px;
    margin-bottom: 0px;
  }

  .ui.button {
    font-size: 0rem;
  }

  .ui.input > input {
    font-size: 1rem;
    padding: 6px 16px !important;
    margin-right: 5px;
    width: 255px;
  }
}
