$color-link-yellow: #ffff00;
$color-link-blue: #ffff00;
$color-link-orange: #ffae00;
$color-blue-text: #82b5e0;

$color-white: #fff;
$color-blue: #5763c9;
$color-yellow: #ffb000;
$color-dark: #000;

$color-border: #8d7e23;
$color-body-background: #0a1936;
$color-page-background: #03293e;
$color-input-background: #cae8fa;
$color-menu-item: #c3e2e7;

$color-text-shadow: #0a1936;
